.history-container {
    position: relative;
}  
.overview-image {
    width: 100%;
    height: 450px;
    background-color: black;
}
.history {
    position: absolute;
    top: 0;
    left: 0;          
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center; 
}
.history h1 {
    color: white;
    font-size: 3rem;
    padding: 10px;
    font-family: "Trirong", serif;
}
.history p {
    color: white;
    font-size: 1rem;
    max-width: 500px;
    padding: 10px;
    font-family: "Trirong", serif;
}
@media screen and (max-width: 500px) {
    .overviewImage {
        height: 350px;
    }
    .history h1 {
        font-size: 2.5rem;
    }
}
.timeline {
    padding: 10px;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;

}
.timeline h2 {
    color: #23272F;
    text-align: center;
    border-bottom: 2px solid coral;
    border-left: 20px solid coral;
    margin: 0 0 15px 0;
}
.timeline p {
    color: #23272F;
    padding: 0 10px 10px 10px;
}
.director-greeting {
    padding: 10px;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
}
.director-greeting h2 {
    color: #23272F;
    text-align: center;
    border-bottom: 2px solid coral;
    border-left: 20px solid coral;
    margin: 0 0 15px 0;
}
.director-greeting p {
    color: #23272F;
    padding: 0 10px 10px 10px;
}
.organization-chart {
    padding: 10px;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
}
.organization-chart h2 {
    color: #23272F;
    text-align: center;
    border-bottom: 2px solid coral;
    border-left: 20px solid coral;
    margin: 0 0 15px 0;
}
.organization-chart p {
    color: #23272F;
    padding: 0 10px 10px 10px;
}
.position-description {
    padding: 10px;        
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;             
}               
.position-description h2 {
    color: #23272F;
    text-align: center;
    border-bottom: 2px solid coral;
    border-left: 20px solid coral;
    margin: 0 0 15px 0;
}
.position-description p {
    color: #23272F;
    padding: 0 10px 10px 10px;
}
.introduction-officials {
    padding: 10px;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
}
.introd-octionOfficials h2 {
    color: #23272F;
    text-align: center;
    border-bottom: 2px solid coral;
    border-left: 20px solid coral;
    margin: 0 0 15px 0;
}
.post-container {
    padding: 10px;
    margin: 0 0 10px 0;

    border-radius: 10px;    
}
.portraits {
    width: 100px;
    height: 100px;
    color: white;
    background-color: royalblue;
    border-radius: 50%;
    display: grid;
    place-items: center;
    font-size: 2rem;
    margin: 0 0 20px 0;
}
.person-name {
    display: inline-block;
    border-bottom: 3px solid coral;
    margin: 0 0 10px 0;
}
.self-introduction {
    margin: 0 0 10px 0;
}